:root{
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
    --Yellow: hsl(47, 88%, 63%);
  }
  body{
    background-color: var(--Yellow) ;
    font-family: Figtree, System-ui, Helvetica;
    padding: 0 2em;
  }
  div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main{
    background-color: var(--White);
    max-width: 15.65em;
    aspect-ratio: 9/9;
    padding: 1em;
    border: 1px solid black;
    border-radius: .75em;
    box-shadow: 6px 6px 0 black ;
    z-index: 100;
  }
  main img{
    max-width: 100%;
    border-radius: .5em;
  }
  main button{
    display: block;
    padding: .40em .95em .40em .95em;
    font-size: .58em;
    font-weight: 800;
    background-color: var(--Yellow);
    border-radius: .35em;
    border: none;
    margin-top: 15px;
    margin-bottom: .50em;
  }
  main span{
    font-size: .65em;
  }
  main h2{
    font-size: 1.1em;
    margin-top: .5em;
    font-weight: 800;
    transition: color 150ms linear;
    cursor: pointer;
  }
  main p{
    white-space: wrap;
    font-size: .75em;
    color: var(--Grey);
    line-height: 1.5em;
  }
  section{
    display: flex;
    column-gap: .5em;
    margin-top:1em;
  }
  section img{
    max-width: 1.5em;
    object-fit: cover;
    border-radius: 50%;
  }
  section h2{
    font-size: .65em;
    margin-bottom: -0.75em;
  }
  main h2:hover{
    color: var(--Yellow);
  }